.nav-bar-wrapper {
    background: #050505;
}

.nav-bar-wrapper .nav-item {
    height: 44px;
    color: #FAFAFA;
    display: inline-block;
    width: 150px;
    text-align: center;
    cursor: pointer;
    padding-top: 6px;
    transition: .1s all;
    border-right: 1px solid white;
}

.nav-bar-wrapper .nav-item:first-child {
    border-left:1px solid white;
}

.nav-bar-wrapper .nav-item:hover {
    background-color: rgba(255,255,255, .2);
}
